<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activate User</title>
</head>
<body>
<strong>Your account successfully activated, please <a href="http://localhost:8080/login">Login</a> to continue</strong>
</body>
</html>